

.hero {
    position: relative;
}
.hero .img1 {
    width: 100%;
}
.hero article {
    border: 2px #000;
    background-color: yellow;
    padding: 15px;
    position: absolute;
    top: 29%;
    left: 10%;
    display: flex;
    align-items: center;
}
.hero h1{
    position: absolute;
    top: 100px;
    left: 300px;
}
.hero article p{
    width: 300px;
}
.hero article img{
    width: 400px;
    margin-left: 10px;
}
.size{
    text-align: center;
}
section .image{
    display: flex;
}
.history{
    display: flex;
}
.box{
    margin: 0 10px;
    text-align: center;
}
.history p{
    padding-top: 25px;
}
.image img{
    width: 180px;
}
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

